/* Apply Flexbox to body and set column direction */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Apply Flexbox to main and set row direction */
main {
    display: flex;
    flex-direction: row;
    flex: auto; 
}

article {
    background-color: #f0f4f8;
    color: #333;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    flex: 2;
    overflow-y: auto;
    padding: 10px;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

header, footer {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}